
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Adaptation Header for all version phone */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .header {
    height: 70vh;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: 80vh; 
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: 93vh; 
  }
}

@media only screen and (max-width: 416px) {
  .header {
    height: 93vh; 
  }
}

@media only screen and (max-width: 380px) {
  .header {
    height: 89vh; 
  }
}

.header {
  width: 100%; 
}

.bgMobile {
  background-image: url('/imgs/Crowdfunding/mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: flex;
}

.bgMobileAtelier {
  background-image: url('/imgs/Crowdfunding/CarouselAtelier.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: flex;
}

.bgMobileHeader {
  background-image: url('/imgs/Crowdfunding/Header.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: flex;
}


.bgDesktop {
  background-image: url('/imgs/Crowdfunding/phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.gradientOverlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30%;
}

/* Flexbox utility classes */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.min-h-screen {
  min-height: 100vh;
}

/* Adaptation Header for all version phone*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .headerCrowdfunding {
    height: 70vh;
  }
}

@media only screen and (max-width: 767px) {
  .headerCrowdfunding {
    height: 80vh; 
  }
}

@media only screen and (max-width: 480px) {
  .headerCrowdfunding {
    height: 90vh; 
  }
}

@media only screen and (max-width: 416px) {
  .headerCrowdfunding {
    height: 93vh; 
  }
}

@media only screen and (max-width: 390px) {
  .headerCrowdfunding {
    height: 80vh + 40px; 
  }
}

.headerCrowdfunding {
  width: 100%; 
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .headerCrowdfunding {
    height: 90vh;
  }
}

@media only screen and (width: 428px) {
  .headerCrowdfunding {
    height: 80vh;
  }
}

@media only screen and (min-width: 769px) {
  .headerCrowdfunding {
    height: 100vh;
  }
}


.headerCrowdfunding {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}





/* Exemplu de utilizare a Tailwind pentru breakpoints iPhone */
@screen sm {
  .headerMobile {
      height: calc(100vh - 30vh); /* Ajustează pentru iPhone 12/13 Mini */
  }
}

@screen md {
  .headerMobile {
      height: calc(100vh - 32vh); /* Ajustează pentru iPhone 12/13 */
  }
}

@screen lg {
  .headerMobile {
      height: calc(100vh - 33vh); /* Ajustează pentru iPhone 12/13 Pro */
  }
}

@screen xl {
  .headerMobile {
      height: calc(100vh - 40vh); /* Ajustează pentru iPhone 12/13 Pro Max */
  }
}


/* Telefoane / mari (ex. iPhone 14 Pro Max) */
@media (max-width: 430px) {
  .headerContent {
      top: 70vh;
  }
}

/* Telefoane mari (ex. iPhone 12, 13, etc.) */
@media (max-width: 375px) {
  .headerContent {
      top: 56vh;
  }
}

/* Telefoane mici (ex. iPhone SE și alte dispozitive sub 375px) */
@media (max-width: 320px) {
  .headerContent {
      top: 51vh;
  }
}



/* CSS pentru a acoperi 100% ecranul pe toate dispozitivele */
.header {
  height: 100dvh; /* Dynamic viewport height pentru a acoperi variațiile pe dispozitive mobile */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bg-image {
  background-image: url('/imgs/Crowdfunding/background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; /* Ocupă toată înălțimea containerului */
  position: absolute;
  top: 0;
  left: 0;
}

/* Poziționarea conținutului */
.content-wrapper {
  padding-bottom: 16px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Asigură că conținutul crește pentru a umple înălțimea disponibilă */
  justify-content: flex-end;
}

/* Adaptează layout-ul pentru diferite dimensiuni de ecrane */
@media (max-width: 768px) {
  .bg-image {
      background-image: url('/imgs/Crowdfunding/CarouselAtelier.webp');
  }

  .content-wrapper {
      padding-bottom: 10px; /* Micșorăm padding-ul pe ecrane mici */
  }
}

/* Fixuri pentru diverse browsere și dispozitive */
@supports (-webkit-touch-callout: none) {
  /* Fix pentru Safari pe iOS */
  .header {
      height: calc(100vh - env(safe-area-inset-bottom));
      min-height: -webkit-fill-available; /* Utilizează înălțimea completă disponibilă */
  }

  .content-wrapper {
      padding-bottom: 30px; /* Împinge conținutul puțin mai sus în Safari */
  }

  .playButton {
      bottom: 25%; /* Ajustează butonul de Play mai sus */
  }
}

@supports not (-webkit-touch-callout: none) {
  /* Fix pentru alte browsere (Chrome, Firefox, Edge) */
  .header {
      height: 100dvh;
  }

  .playButton {
      bottom: 20%; /* Ajustează butonul de Play */
  }
}

/* Breakpoints pentru dispozitive mici */
@media only screen and (max-width: 834px) {
  .header {
      height: 90vh;
  }
}

@media only screen and (max-width: 430px) {
  .header {
      height: 75vh;
  }
}

@media only screen and (max-width: 375px) {
  .header {
      height: 70vh;
  }
}

@media only screen and (max-width: 320px) {
  .header {
      height: 65vh;
  }
}



.slide-up {
  position: fixed;
  bottom: -100px; /* Ascuns sub ecran la început */
  animation: slideUp 1.5s ease-in-out forwards; /* Timp mai lung pentru o tranziție vizibilă */
  opacity: 0; /* Inițial invizibil */
  z-index: 50; /* Asigură că butonul este deasupra altor elemente */
}

@keyframes slideUp {
  0% {
    bottom: -100px; /* Poziția inițială sub ecran */
    opacity: 0; /* Invizibil la început */
  }
  30% {
    opacity: 0.2; /* Începe să devină vizibil la 30% din animație */
  }
  50% {
    bottom: -50px; /* Aproape de marginea de jos a ecranului */
    opacity: 0.5; /* Mai vizibil pe la jumătate */
  }
  100% {
    bottom: 0; /* Poziția finală vizibilă */
    opacity: 1; /* Complet vizibil la sfârșit */
  }
}
