.ourMissionBackground {
    background-image: url('/imgs/OurMission/Earth.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* You can adjust the height as needed */
    width: 100%;
}
