@import url('https://fonts.googleapis.com/css2?family=Ek+Mukta:wght@400;700;900&display=swap');

/* Progras.module.css */
.titleConcept {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 900; /* Asigură-te că fontul suportă această greutate */
    color: #E60716;
    font-size: 24px;
    margin-bottom: 8px;
  }
  

  .blurred {
    filter: blur(2px); /* Ajustează valoarea blur-ului după preferință */
    transition: filter 0.3s ease;
  }
  

  /* Custom blur effect */
.blur-effect {
  /* filter: blur(5px); Adjust the blur radius as needed */
}
